<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yyds.feng.op.mapper.WalletWeeklySnapshotMapper">

    <insert id="insertBatch">
        INSERT INTO wallet_weekly_snapshot (
        wallet, week_no,
        delta_volume, delta_points, delta_profit,
        snapshot_time
        ) VALUES
        <foreach collection="list" item="item" separator=",">
            (
            #{item.wallet},
            #{item.weekNo},
            #{item.deltaVolume},
            #{item.deltaPoints},
            #{item.deltaProfit},
            #{item.snapshotTime}
            )
        </foreach>
    </insert>


</mapper>
