<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yyds.feng.op.mapper.WalletAddressMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT IGNORE INTO wallet_address(wallet)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item})
        </foreach>
    </insert>
    <select id="selectWalletByNoStat" resultType="java.lang.String">
        SELECT
            w.wallet
        FROM
            wallet_address w
                LEFT JOIN wallet_weekly_snapshot sn ON w.wallet = sn.wallet AND sn.week_no = {week}
        WHERE
            sn.id IS NULL
    </select>
</mapper>
